<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>

<div class="container">
  <div class="container padTop">
    <div class="row">
      <div class="jumbotron padTop">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world.</p>
        <a href="/campgrounds/new"><button class="btn btn-default btn-lg dk">Add New Campground</button></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h1>Campgrounds</h1>
      <p class="padBot">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="row camp-flex">
        <% campgrounds.forEach(function(campground){ %>
          <div class="col-lg-4 col-xs-12">
            <div class="thumbnail text-center">
              <a href="/campgrounds/<%= campground._id %>"><img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>"></a>
              <h3><%= campground.name %></h3>
              <p><%- campground.description.substring(0,50) + "..." %></p>
              <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-custom btn-primary">More Info</a></p>
            </div>
          </div>
        <% }); %>
    </div>
  </div>
</div>
<% include ../partials/footer %>

</body>
</html>
